#profile-table {
	width: 1170px;
	max-width:1170px;
}
td {
	word-break: break-all;
}

td:nth-child(1), th:nth-child(1) {
	width: 4%;
}
td:nth-child(2), th:nth-child(2) {
	width: 8%;
}
td:nth-child(3), th:nth-child(3) {
	width: 8%;
}
td:nth-child(4), th:nth-child(4) {
	width: 12%;
}
td:nth-child(5), th:nth-child(5) {
	width: 10%;
}
td:nth-child(6), th:nth-child(6) {
	width: 12%;
}
td:nth-child(7), th:nth-child(7) {
	width: 8%;
}
td:nth-child(8), th:nth-child(8) {
	width: 8%;
}
td:nth-child(9), th:nth-child(9) {
	width: 10%;
}
td:nth-child(10), th:nth-child(10) {
	width: 20%;
}
