/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
.t-main{
  margin-top: calc(15px + 2%);
}

.t-title{
  margin-bottom: calc(15px + 2%);
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
}

.t-btn{
  margin-bottom: calc(15px + 2%);
}