<div class = "row footer">
    <div class="col-sm footerLeft">
      <h4>Contact Us:</h4>
      <p>support@framework.com</p>
      <p>(+44)0845 6253679</p>
      <br />
      <p>Website by Thomas Whittington.</p>
      <p>thomasjackwhittington@gmail.com</p>
    </div>
    <div class="col-sm footerMiddle">
      <h4>Our Address:</h4>
      <p>123 Four Street</p>
      <p>Nikau Valley</p>
      <p>Paraparaumu</p>
      <p>WV11 2DJ</p>
    </div>
    <div class="col-sm footerRight">
      <h4>Powered by:</h4>
      <h5>Bootstrap</h5>
    </div>
  </span>
</div>
